@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To make a Page to start a password reset
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@model ASP.NetMVCExample.Models.UsersView.UserPasswordReset
@{
    ViewBag.Title = "PasswordResetStep1";
    Scripts.Render("~/bundles/jqueryval");
}
<p class="lead">For security reasons we will send you a email with a resset code. Enter your email so we generate a code for you.</p>
<p class="lead">We will need to do this, because for better security we make the password a one way ecription trip. In short not even our techs can read your passwords orginal form!</p>

<h2>Enter Email</h2>

<section id="PassswordResset">
    @using (Html.BeginForm("PasswordReset", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
    }
</section>