@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: Make the right sided of the menue bar
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }
    //*@  
@using Microsoft.AspNet.Identity

    <ul class="nav navbar-nav navbar-right">
        @{
                if (@Session["Email"] == null)
                {
                    <!--Give us a place to log in-->
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
                else
                {
                    <!--If we are loged in allow log out ang give feedback that we are logged in-->
                    <li>@Html.ActionLink("Log out from " + @Session["Email"], "Logout", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
                }
          }
   </ul>

