@using Microsoft.AspNet.Identity

    <ul class="nav navbar-nav navbar-right">
        @{
                if (@Session["Email"] == null)
                {
                    <!--Give us a place to log in-->
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
                else
                {
                    <!--If we are loged in allow log out ang give feedback that we are logged in-->
                    <li>@Html.ActionLink("Log out from " + @Session["Email"], "Logout", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
                }
          }
   </ul>

