@model ASP.NetMVCExample.Models.SelectUserProjectsDashboard_Result
@{
    var Item = Model as ASP.NetMVCExample.Models.SelectUserProjectsDashboard_Result;
    Html.AddToRenderStyleBundles();
}
<div class="col-sm-4">
    
    <!--spacer-->
    <div style="padding:20px;">
        <a href='@Url.Action("Index", "Project", new { ProjectID = @Item.ProjectID })' @*onclick='navigate(this.href);'*@>
            <div class="MyProjectBox">
                <h2> @Item.ProjectName </h2>
                <div class="Row">
                    <div class="col-sm-12">
                        <h4> Desctiption </h4>
                        <p class="lead">
                            @Item.Description
                        </p>
                    </div>
                </div>

                <div class="Row">
                    <h4> Address </h4>
                    <div class="col-sm-2">
                        @Item.Address
                    </div>
                    <div class="col-sm-2">
                        @Item.PostalCode
                    </div>
                    <div class="col-sm-2">
                        @Item.City
                    </div>
                    <div class="col-sm-2">
                        @Item.Province
                    </div>
                    <div class="col-sm-4">
                        @Item.Country
                    </div>
                </div>

                <div class="Row">
                    <div class="col-sm-6">
                        <h4> Start Date </h4>
                        @Item.StartDate
                    </div>
                    <div class="col-sm-6">
                        <h4> End Date </h4>
                        @Item.EndDate
                    </div>
                </div>
            </div>
            </a>
    </div>
</div>