@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To land on after signing in
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@model ASP.NetMVCExample.Models.SelectTheUser_Result
@{
    ViewBag.NgApp = "NGDashBoard";

    ViewBag.Title = "Index";

    Html.AddToRenderScriptBundles("~/bundles/MomentJS");
    Html.AddToRenderStyleBundles("~/Content/Project");
    string url = Url.Action("", "Project", new { ID = "f" });
    url = url.Remove(url.Count() - 1, 1);
}
@Scripts.Render("~/Scripts/PageScripts/DashBoard/DashBoard.js")
@Styles.Render("~/Content/PageCss/Dashboard/ProjectBoxCSS.css")
<div class="row" id="TopInfo">
    <div class="col-lg-4">
        <h2>Profile Dashboard</h2>
        <div class="MyBox" style="word-wrap:break-word; overflow:hidden;">
            <h3>Profile Overview</h3>
            <p class="text-info" style="word-wrap:break-word; overflow:hidden;" >
                <img src="data:image;base64,@Convert.ToBase64String(Model.Picture)" class="img-thumbnail" width="140" height="140" />
                <br />Name: @Model.FirstName,
                @Html.Raw("<br />Middle Name: " + @Model.MiddleInitial + ",")
                <br />Last Name: @Model.LastName
                @Html.Raw(Model.WorkPhone != null ? ",<br />Work Phone: " + Model.WorkPhone.Insert(3, "-").Insert(7, "-") : "")
                @Html.Raw(Model.CellPhone != null ? ",<br />Cell Phone: " + Model.CellPhone.Insert(3, "-").Insert(7, "-") : "")
                @Html.Raw(Model.HomePhone != null ? ",<br />Home Phone: " + Model.HomePhone.Insert(3, "-").Insert(7, "-") : "")
            </p>
            <hr4>Bio</hr4>
            <p class="text-info " style="word-wrap:break-word;">
                @Html.Raw(Model.Bio != null ? Model.Bio : "")
                @Html.Raw(Model.PortfollURL != null ? String.Format(@"<br /><button onclick=""window.location = '{0}'"">Click Me</button>", Model.PortfollURL) : "" )
            </p>
        </div>
    </div>
    <div class="col-lg-8" style="word-wrap:break-word; overflow:hidden;">
        <h2>News Feed</h2>
        <div class="MyBox" style="word-wrap:break-word; overflow:scroll;">
            
        </div>
    </div>
</div>
<hr />
<div>
    <hr4>Your Projects</hr4>
    <div ng-controller="ProjectList" class="row" id="Projects">
        <div ng-repeat="project in projects" class="col-sm-4" style="word-wrap:break-word; overflow:hidden;">
            <a href="@url{{project.ProjectID}}">
                <div class="MyProjectBox">
                    <h3 style="word-wrap:break-word;">{{project.ProjectName}}</h3>
                    <p style="word-wrap:break-word;">
                        Address: {{project.Address}}, {{project.City}}, {{project.Province}}, {{project.Country}}, {{project.PostalCode}}<br />
                        For: {{project.CompanyName}}<br />
                        From<br />
                        StartDate: {{project.StartDate}}<br />
                        EndDate: {{project.EndDate}}<br />
                        Description:<br />
                        {{project.Description}}
                    </p>
                </div>
            </a>
         </div>
    </div>
    <hr />
    @Html.ActionLink("Add a new project", "CreateProject", "Project", new { }, new { Class = "btn btn-default" })
</div>



