@model IEnumerable<ASP.NetMVCExample.Models.SelectUserProjectsDashboard_Result>
@{
    //ASP.NetMVCExample.Models.
    ViewBag.Title = "Index";

    bool open = false;

    var List = Model.ToList();

    Styles.Render("~/Content/Project");
}

<h2>Index</h2>

@for (int i = 0; i < List.Count(); i++)
{
    if (i % 3 == 0)
    {
        if (open)
        {
            @Html.Raw("</div>") // close the div in raw so we dont get squigs
        }
        @Html.Raw("<div class=\"row\">")// open the div in raw so we dont get squigs
        open = true;
    }
    @RenderPage("~/Views/Dashboard/_ProjectBox.cshtml", List[i])
 }

@Html.Raw("</div>") @*close the div in raw so we dont get squigs*@

<div>
    @Html.ActionLink("Add a Project", "CreateProject", "Project", new { Topic = "Cloud" }, new { Class = "btn btn-default" })
</div>

